</HEAD>
<BODY BGCOLOR="#FFFFFF">
<FORM action="http://www.response-o-matic.com/cgi-bin/rom.pl"
method="POST">
<H1><CENTER> </CENTER></H1>
<H1><CENTER><FONT COLOR="#000000">Thanks for visiting my
site!</FONT>
</CENTER></H1>
<H3><CENTER>
<INPUT TYPE="hidden" NAME="your_email_address"
VALUE="bob@bubbleunder.com">
<INPUT TYPE="hidden" NAME="your_name"
VALUE="Bob Dobalina">
<INPUT TYPE="hidden" NAME="email_subject_line"
VALUE="Upcoming Event">
<INPUT TYPE="hidden" NAME="required_fields"
VALUE="your_email_address">
<INPUT TYPE="hidden" NAME="thank_you_title"
VALUE="Thanks for submitting your event to Bubble Under">
<INPUT TYPE="hidden" NAME="return_link_url"
VALUE="http://www.bubbleunder.com/">

<INPUT TYPE="hidden" NAME="return_link_name"
VALUE="Back to the Home Page">
<INPUT TYPE="hidden" NAME="background_color"
VALUE="#FFFFFF">
<INPUT TYPE="hidden" NAME="text_color"
VALUE="#000000">
<INPUT TYPE="hidden" NAME="link_color"
VALUE="#0000FF">
<INPUT TYPE="hidden" NAME="visited_link_color"
VALUE="#8000FF">
<INPUT TYPE="hidden" NAME="active_link_color"
VALUE="#0000FF">
</CENTER></H3>
<H3><CENTER>Your comments are appreciated!</CENTER></H3>
<P><CENTER>Just complete this form. Click on Submit when ready to
send.</CENTER></P>
<H4> </H4>
<BLOCKQUOTE><P><TABLE BORDER=0 CELLSPACING=0>
<TR>
<TD WIDTH=116>
<H3>Your name:</H3>
</TD><TD>
<H4><INPUT TYPE="text" NAME="visitor_name" VALUE="" SIZE=50>
</H4>
</TD></TR>
<TR>


























