/*
CSS for Bubble Under site 
*/

p{
font-weight: bold;
}
body{
font-family:Verdana,Helvetica,Arial,sans-serif;
background-color:#e2edff;
line-heigh:125%;
/* remove border to impliment positioning(absolute)
border: 4px solid navy;
padding:15px;
 */
padding:0;
margin:0;


}
h1{
font-family: "Trebuchet Ms",Arial, Helvetica, sans-serif;
font-size: x-large;
}

li {
font-size: small;
}

h2{
color:blue;
font-size: medium;
font-weight: normal;
}


p{
font-size: small;
color: navy;
}

em {
font-style: normal;
text-transform: uppercase;
}

#tagline p {
font-style: italic;
font-family: Georgia, Times, serif;
font-weight: normal;
}
#navigation a{
text-decoration: none;
}


#navigation {
text-decoration: none;
/* changes to nav */
width:180px;
/*border:1px dotted navy;*/
background-color: #7da5d8;
}

/* grouping headers */
h1,h2,h3{
font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;

color: white;

}
/*styling links*/
a {
font-weight: bold;
color: black:
}
a:link{
color: black;
}
a:visited{
color: navy;
}
a:hover{
text-decoration: none;
color: white;
background-color: navy;
}

a:active{
color: aqua;
background-color: navy;
}

.feature{
float: right;
margin: 10px;
}




#tagline p{
font-style: italic;
font-family: Georgia, Times, serif;
background-color: #bed8f3;
border-top: 3px solid #7da5d8;
border-bottom: 3px solid #7da5d8;
/*add padding*/
padding-top: .2em;
padding-bottom: .2em;
padding-left: .8em;
/*removing margin for positioning(trimming the fat)*/
margin: 0;

}

h1 {
font-size: X-large;
background-color: navy;
color: white;
/*add padding*/
padding-top: 2em;
padding-bottom: .2em;
padding-left: .4em;
/*removing margin for positioning(trimming the fat)*/
margin: 0;
}

h2 {
color: navy;
font-size:130%;
font-weight: normal;

padding-top: 15px;
}

h2, ul {
margin-top: 15px;
}

/*absolute position begins*/

/*#header, #sitebranding, #tagline, #navigation, #bodycontent {
border: 1px solid red;
padding: 2px;
margin-bottom: 2px;
}*/
/*this section deals with the position of items on the screen.
It uses absolute positioning - fixed x and y cordinates measured
from the top-left corner of the browser's content display

*/
#navigation, #bodycontent, #header {
position: absolute;
}

#navigation, #bodycontent{
top: 108px;
}
#bodycontent {
left: 200px;
top: 90px;
font-weight: normal;
}
#header {
width: 100%;
border-top: 3px solid #7da5d8;
}
#bodycontent p{
font-weight: normal;
}

li {
font-size: small;
list-style-type: circle;
}

#tagline p{
font-style: italic;
font-family: Georgia, Times, serif;
background-color: #bed8f3;
border-top: 3px solid #7da5d8;
border-bottom: 3px solid #7da5d8;
/*add padding*/
padding-top: .2em;
padding-bottom: .2em;
padding-left: .8em;
/*removing margin for positioning(trimming the fat)*/
margin: 0;

}

h1 {
font-size: X-large;
background-color: navy;
color: white;
/*add padding*/
padding-top: 2em;
padding-bottom: .2em;
padding-left: .4em;
/*removing margin for positioning(trimming the fat)*/
margin: 0;

background: navy url(img/header.jpg) repeat-y right;
}

h2 {
color: navy;
font-size:130%;
font-weight: normal;

padding-top: 15px;
}

h2, ul {
margin-top: 15px;
}

/*absolute position begins*/

/*#header, #sitebranding, #tagline, #navigation, #bodycontent {
border: 1px solid red;
padding: 2px;
margin-bottom: 2px;
}*/
/*this section deals with the position of items on the screen.
It uses absolute positioning - fixed x and y cordinates measured
from the top-left corner of the browser's content display

*/
#navigation, #bodycontent, #header {
position: absolute;
}

#navigation, #bodycontent{
top: 108px;
}
#bodycontent {
left: 200px;
top: 90px;
}
#header {
width: 100%;
border-top: 3px solid #7da5d8;
}
#tagline p {
font-style: italic;
font-family: Georgia, Times, serif;
border-top: 3px solid #7da5d8;

border-bottom: 3px solid #7da5d8;
padding-top: .2em;
padding-left: .8em;
margin: 0;
background: #bed8f3 url(img/tagline.jpg) repeat-y right bottom;
}
#navigation {
text-decoration: none;
/* changes to nav */
width:157px;
/*border:1px dotted navy;*/
background-color: #7da5d8;

height: 400px;
background: #7da5d8 url(img/nav.jpg) no-repeat;
}

